<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hangouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ./links.ejs %>
</head>
<body>
    <div class="my-container">
        <% include ./header.ejs %>
        <div id="content-holder">
            <div class="align-top"></div>
            <div id="content">
                <h1 class='text-danger'>Sorry, the page you are looking is not found</h1>
                <br><br>
                <img src="/assets/images/404.jpg" class="img-thumbnail" alt="404 image">
            </div>
            <div class="align-bottom"></div>
        </div>
        <% include ./footer.ejs %>
    </div>
</body>
</html>