<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hangouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ./links.ejs %>
</head>
<body>
    <div class="my-container">
        <% include ./header.ejs %>
        <div id="content-holder">
            <div class="align-top"></div>
            <div id="content">
                <div>
                    <h1> What can you do</h1>
                    <br>
                    <div class='row' >
                        <div class="event col-sm-3">
                            <h3> Explore your city</h3>
                            <p>try new food, go hiking, hit up a brewery tour, or just go meet new people</p>
                        </div>
                        <div class="event col-sm-offset-1 col-sm-3">
                            <h3> Build Your Career</h3>
                            <p>Test a prototype, network, take a class, learn a language, pitch to investors, or learn a new skill</p>
                        </div>
                        <div class="event col-sm-offset-1 col-sm-3">
                            <h3> Get Creative</h3>
                            <p>Create a podcast, write a screenplay, discuss art, design something, or get feedback on your work</p>
                        </div>
                    </div>
                    <br>
                </div>
                <div>
                    <h1>How it works</h1>
                    <p>1. Choose what you’re into</p>
                    <p>2. Meet people in your area who share your passion</p>
                    <p>3. Do more of what makes you tick</p>
                </div>
            </div>
            <div class="align-bottom"></div>
        </div>
        <% include ./footer.ejs %>
    </div>
</body>
</html>