<div class="footer row">
    <nav>
    <div class="col-md-6">
        <ul class="nav navbar-nav">
            <li class="nav-text">&copy; Hangouts</li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-text">Follow us: </li>
            <li><a href="http://www.facebook.com">Facebook</a></li>
            <li><a href="http://www.twitter.com">Twitter</a></li>
        </ul>
    </div>
    </nav>
</div>