<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hangouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ./links.ejs %>
</head>
<body>
    <div class="my-container">
        <% include ./header.ejs %>
        <div id="content-holder">
            <div class="align-top"></div>
            <div id="content">
                    <h1><b>Hangouts creates possibilities</b></h1>
                    <br>
                    <p>Hangouts is a platform for finding and building local communities. People use Hangouts to meet new people, learn new things, find support, get out of their comfort zones, and pursue their passions, together.</p>
                    <h3>The real world is calling</h3>
                    <p>Attend local events to meet people, try something new, or do more of what you love.</p>
                    <br>
            </div>
            <div class="align-bottom"></div>
        </div>
        <% include ./footer.ejs %>
    </div>
</body>
</html>